* {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

body {
  height: 100vh;
}

:root {
  --text: rgb(0, 2, 58);
}

.container-general {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(255, 165, 124), rgb(98, 141, 156));
  background-image: url(../img/pexels-photo-1261728.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 2rem;
}

.container-input {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 3rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  text-align: center;
  
  h1 {
    color: var(--text);
    font-size: 1.5rem;
  }

  p {
    color: var(--text);
    font-size: 1rem;
  }

  input {
    color: var(--text);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    border-radius: 1rem;
    outline: none;
    text-align: center;
    cursor: pointer;
  }

  button {
    color: var(--text);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-self: center;
    background-color: rgb(183, 239, 217);
    cursor: pointer;
    transition: background-color, transform 0.2s ease;
  }

  button:hover {
    transform: scale(1.05);
    background-color: rgb(129, 234, 192);
  }
}

.container-input:hover {
  transform: translateY(-0.2rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container-results {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 3rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  text-align: center;

  p {
    color: var(--text);
  }

  p:nth-child(1) {
    font-weight: bold;
  }

  p:last-child {
    font-weight: bold;
  }
}

.container-results:hover {
  transform: translateY(-0.2rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hide {
  display: none !important;
}